@model ChooseItemViewModel

@{
    ViewData["Title"] = "Choose an item to sell";
}

<p class="d-none" id="providerKey">@Model.ProviderKey</p>
<div class="align-content-center">
    <h5 class="text-center text-primary col">If you cant find an item you're looking for, refresh your inventory!</h5>
    <button class="btn btn-secondary col btn-block text-center" id="refresh">Refresh</button>
</div>
<div class="row" id="itemsRow">
    
</div>

@section scripts {
    <script src="~/js/chooseItem.js"></script>
}