@model ItemFormModel

@{
    ViewData["Title"] = "Sell an item";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Sell Item</h2>
        <div class="text-center">
            <img src="@Model.ImageUrl" class="rounded" alt="Image of the item">
        </div>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly>
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            @if (@Model.Condition != null)
            {
                <div class="form-group">
                    <label asp-for="Condition"></label>
                    <input asp-for="Condition" class="form-control" readonly>
                    <span asp-validation-for="Condition" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Float"></label>
                    <input asp-for="Float" class="form-control" readonly>
                    <span asp-validation-for="Float" class="small text-danger"></span>
                </div>
            }
            
            <div class="form-group">
                <label asp-for="Price">Price in USD ($)</label>
                <input asp-for="Price" class="form-control" placeholder="199.99">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>

            <input class="d-none" asp-for="InspectUrl" />
            <input class="d-none" asp-for="ImageUrl" />

            <input class="btn btn-primary" type="submit" value="Sell" />
        </form>
    </div>
</div>